<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javakc.islimp.modules.user.dao.UserDao">

    <cache type="com.javakc.islimp.commons.mybatis.MybatisRedisCache"/>

    <select id="queryPermissionByName" resultType="String">
        SELECT
            perform_method
        FROM
            permission_info p,
            role_permission_info rp
        WHERE
            p.id = rp.permission_id
          AND rp.role_id IN (
            SELECT
                role_id
            FROM
                user_role_info
            WHERE
                user_id = ( SELECT id FROM user_info WHERE user_account = #{name} )
            )
    </select>
 
</mapper>